<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 0;
            top: 30px;
            color: white;
            font-size: 30px;
            text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
        }

        .background-container {
            background-image: url('/images/background_login1.jpg');
            background-size: cover;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .form-container {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 80px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h2 {
            margin-top: 0;
            color: #77d1e1;
            font-size: 40px;
        }

        input, #afterValue {
            padding: 10px;
            margin-bottom: 16px;
            font-size: 20px; 
            border: 1px solid #5adedc; 
            border-radius: 5px;
            width: 200px;
            color: #4b4b4b;
        }

        button {
            cursor: pointer;
            background-color: #5adedc;
            color: white;
            transition: background-color 0.3s ease;
            padding: 10px;
            font-size: 18px;
            width: 100px;
            border: none;
            border-radius: 5px;
        }

        button:hover {
            background-color: #3486bd;
        }

        #result-container {
            margin-top: 20px;
            color: #07acc9; 
            font-size: 24px; 
        }

        label {
            display: block;
            margin-bottom: 8px;
            font-size: 24px; 
            color: #ffffff;
        }
    </style>
</head>
<body>
    <%- include('navbar') %>

    
    <div class="background-container">
        <div class="form-container">
            <h2>환율 계산기</h2>
            <label for="exchangeRate">환율 (1 단위당 목표 통화로 변환되는 금액)</label>
            <input type="number" id="exchangeRate" step="0.01" placeholder="환율을 입력하세요" required>

            <label for="amount">금액</label>
            <input type="number" id="amount" step="0.01" placeholder="금액을 입력하세요" required>

            <button onclick="calculateExchange()">계산</button>

            <div id="result-container" id="result"></div>
        </div>
    </div>

    <script>
        window.onload = () => {
            const exchangeRate = document.querySelector("#exchangeRate");

            exchangeRate.value = "0.00076";
        }

        function calculateExchange() {
            const exchangeRate = parseFloat(document.getElementById('exchangeRate').value);
            const amount = parseFloat(document.getElementById('amount').value);

            if (isNaN(exchangeRate) || isNaN(amount)) {
                alert('올바른 숫자를 입력하세요.');
                return;
            }

            const result = amount * exchangeRate;
            const formattedResult = new Intl.NumberFormat().format(result);
            document.getElementById('result-container').innerText = `계산 결과 —> ${formattedResult}`;
        }
    </script>
</body>
</html>
