<!-- 로그인 페이지 -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/style/login_page/login.css" type="text/css">
</head>
<body>
    <a href="/">
    <img src="/images/java.png" style="-webkit-user-drag: none;" class="logo" href>
    </a>
    <div class="line"></div>
    <div class="blur"></div>
    <form id="login-form" class="wrap">
        <div class="header">
            <h1>Login</h1>
            <br>
        </div>
        <div class="login">
            <input type="text" id="username" name="id" placeholder="Username">
        </div>
        <div class="login">
            <input type="password" id="password" name="pass" placeholder="Password">
        </div>
        <div class="remem">
            <div class="left-box">
                <input id="isSave" type="checkbox">
                <p>회원 정보를 저장</p>
            </div>
            <div class="right-box">
                <p id="error-message">ID나 PASSWORD를 찾지 못하였습니다.</p>
            </div>
        </div>
        <div class="end">
            <input class="login-btn" type="submit" value="로그인">
        </div>
        <div class="find">
            <p>
                계정이 없으신가요?
                <a href="/signup"> 회원 가입 </a>
            </p>
        </div>
    </form>
    <script src="/js/script_login.js"></script>
</body>
</html>