<!-- 로그인 페이지 -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/style/login_page/login.css" type="text/css">
</head>
<body>
    <div class="line"></div>
    <div class="blur"></div>
    <div class="wrap">
        <form action="/login" method="post">
            <div class="header">
                <h1>Login</h1>
                <br>
            </div>
            <div class="login">
                <input type="text" id="username" name="id" placeholder="Username">
            </div>
            <div class="login">
                <input type="text" id="password" name="pass" placeholder="Password">
            </div>
            <div class="remem">
                <input type="checkbox"> 이 정보를 기억하시겠습니까?
            </div>
            <div class="warn">
                <p id="warning-message"></p>
            </div>
            <div class="end">
                <input type="submit" value="로그인">
            </div>
            <div class="find">
                <label><a href="/login">아이디 찾기</a></label>
                <label><a href="/login">비밀번호 찾기</a></label>
            </div>
        </form>
    </div>
</body>
</html>