<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp Page</title>
    <link rel="stylesheet" href="/style/signup_page/signup.css" type="text/css">
</head>
<body>
    <div class="wrapper">
        <form name="signupForm" action="/signup" method="post">
            <h1>회원가입</h1>

            <div class="input-box">
                <div class="input-field">
                    <input type="text" placeholder="Username" name="username">
                </div>
                <div class="input-field">
                    <input type="password" placeholder="Password" name="password">
                </div>
                <div class="input-field">
                    <input type="submit" class="btn" value="회원가입">
                </div>
            </div>
        </form>
    </div>
</body>
</html>