<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/table_page/table_output.css" type="text/css">
</head>
<body>
    <script src="js/table_output.js"></script>
    <section>
        <!--for demo wrap-->
        <h1>Fixed Table header</h1>
        <div class="tbl-header">
          <table cellpadding="0" cellspacing="0" border="0">
            <thead>
              <tr>
                <th>이름</th>
                <th class="num">학번</th>
                <th>국어</th>
                <th>영어</th>
                <th>수학</th>
                <th>평균</th>
                <th class="grade">학점</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="tbl-content">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody id="table-body">
              <tr>
                <td>홍길동</td>
                <td class="num">12345678</td>
                <td>70</td>
                <td>80</td>
                <td>90</td>
                <td>80</td>
                <td class="grade">B</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      
      
      <!-- follow me template -->
      <div class="made-with-love" style="opacity: 0.3;">
        Made with
        <i>♥</i> by
        <a target="_blank" href="https://codepen.io/nikhil8krishnan">Nikhil Krishnan</a>
      </div>
</body>
</html>