<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/table_page/table_output.css" type="text/css">
</head>
<body>
    <section>
        <!--for demo wrap-->
        <h1>Fixed Table header</h1>
        <div class="tbl-header">
          <table cellpadding="0" cellspacing="0" border="0">
            <thead>
              <tr>
                <th>이름</th>
                <th class="num">학번</th>
                <th>국어</th>
                <th>영어</th>
                <th>수학</th>
                <th>평균</th>
                <th class="grade">학점</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="tbl-content">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody id="table_output">
              
            </tbody>
          </table>
        </div>
      </section>
      <script src="js/table_output.js"></script>
</body>
</html>