body {
    margin : 0 0 0 0;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: url(../../public/images/background_image\(2\).jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    width: 200px;
    height: 110px;
}

.navbar a {
    position: relative;
    font-size: 22px;
    color: #fff;
    font-weight: 500px;
    text-decoration: none;
    margin-left: 40px;
    text-shadow: 2px 6px 1px #000;
    /*
        background_image - color #000, text-shadow #B9B4C7
        background_image(2) - color #fff, text-shadow #000
    */
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
    /*
    background_image - background: #000;
    */
}

.navbar a:hover::before {
    width: 100%;
}