* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 968px;
    padding-bottom: 10px;
    display: flex;
    justify-content: right;
    align-items: right;
    background: url(/images/background_login.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.line {
    width: 2.5px;
    height: 100%;
    position: absolute;
    right: 45%;
    background-color:#ffffff;
}

.wrap {
    width: 45%;
    padding: 80px;
    padding-top: 275px;
    background-color: transparent;
    backdrop-filter: blur(10px);
}

.header {
    font-size: 25px;
    text-align: center;
    color: #fff;
}


.wrap .login {
    width: 100%;
    height: 40px;
    background: white;
    margin: 20px 0;
    border-radius: 15px;
   
}


.wrap .login input {
    background: transparent;
    width: 100%;
    padding-left: 15px;
    height: 100%;
    border: 1px solid #333333 0.3;
    border-radius: 15px;
    font-size: 18px;
    color: #322332;
}

.login input::placeholder {
    font-size: 13px;
    color: gray;
}

.wrap .find {
    text-align: left;
    padding-top: 30px;
    cursor: pointer;
    font-size: 20px;
    color: #000;
}

.find a {
    color: blue;
    font-size: 18px;
    text-decoration: none;
}

.find a:hover {
    text-decoration: underline;
}

.end {
    padding-top: 30px;
}

.end input{
    width: 100%;
    height: 50px;
    font-size: 20px;
    background-color: #0074e0;
}